:root {
	--dark-primary: #937ffc;
	--primary: #ab9bfd;
	--light-primary: #ebe7ff;
	--dark-additional: #febc70;
	--additional: #fdcf9b;
	--light-additional: #fff6eb;
	--black: #231004;
    --grey: #d8d8d8;
	--light-grey: #f4f4f4;
	--white: #ffffff;

	/* Кнопка удаления другая, чтобы не перепутать */
	--delete-primary: #db132d;
	--delete-light-primary: #ffeaea;
	--border-radius: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--black);
}

#root{
	z-index: 2;
	position: relative;
}

html{
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: calc(100vh - 80px);
	margin: 0;
	font-family: "Nunito", serif;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url("../src/images/background.jpg");
	background-size: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 1;
	}
}

p{
	display: inline-block;
	margin: 0 10px 0 0;
}

h1 {
    font-size: clamp(20px, 2.1vw, 24px);
    white-space: nowrap;
    color: var(--primary);
    font-weight: 600;
    font-style: normal;
	display: inline-block;
}

h2 {
    font-size: clamp(16px, 2vw, 20px);
	white-space: nowrap;
	color: var(--dark-additional);
}

h3 {
    font-size: clamp(14px, 1.8vw, 18px);
	margin-top: 1rem;
	color: var(--black);
	margin-bottom: 10px;
	opacity: 0.8;
	font-weight: 500;
}

header{
	height: 80px;
	width: 100%;
	padding: 10px 30px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--white);
	border-bottom: 5px solid var(--primary);
	z-index: 100;
}

.header-block-right-part {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header-block-left-part{
	display: flex;
	align-items: center;

	& h1:not(:first-child){
		margin-left: 1rem;
	}

	& img {
		height: 30px;
		width: 30px;
		margin-left: 1rem;
	}
}

.header-block-right-part-avatar{
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--light-primary);
}

.header-block-right-part-name{
	margin-left: 10px;
	color: var(--primary);
}

.main-block{
	padding: 30px;
	margin-top: 80px;
}

.main-block-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1200px) {
    .main-block-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1800px) {
    .main-block-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 2200px) {
    .main-block-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

.header-block-right-part-menu {
	margin-right: 1rem;

	& > button:not(:last-child){
		margin-right: 0.5rem;
	}
}

.filed-button{
	height: 30px;
	border: none;
	background: var(--primary);
	color: var(--white);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--dark-primary);
		transition: background-color 0.6s ease;
	}
}

.grey-button{
	height: 30px;
	border: none;
	background: var(--grey);
	color: var(--black);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	opacity: 1;
	outline: none;

	&:hover{
		opacity: 0.8;
		transition: opacity 0.6s ease;
	}
}

.unfiled-button{
	height: 30px;
	border: none;
	background: none;
	border: 1px solid var(--additional);
	color: var(--dark-additional);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--light-additional);
		transition: background-color 0.6s ease;
	}
}

.red-button{
	height: 30px;
	border: none;
	background: none;
	border: 1px solid var(--delete-primary);
	color: var(--delete-primary);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--delete-light-primary);
		transition: background-color 0.6s ease;
	}
}

footer{
	transform: translateY(100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 10px 30px;
	background-color: var(--primary);
	color: var(--light-grey);
	text-align: center;
}

.card-block{
	align-self: start;
	padding: 1.5rem;
	border-radius: var(--border-radius);
	break-inside: avoid;
	background-color: var(--white);
	box-shadow: rgba(201, 159, 111, 0.3) 0px 0px 9px -1px;
}

.card-block-inner{
	display: flex;
}

.card-block.shown{
	border: 1px solid var(--dark-primary);
}

.card-block-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--additional);
}

.card-block-title-button{
	background: none;
	border: none;
	color: var(--dark-primary);
	cursor: pointer;

	&:hover{
		color: var(--primary);
	}
}

.card-block-title-delete-button, .card-block-title-edit-button{
	height: 18px;
	margin-left: 5px;
	cursor: pointer;
	opacity: 0.4;

	&:hover{
		opacity: 1;
		transition: opacity 0.5s ease;
	}
}

.card-block-brands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-block-brands-title{
	border-top: 1px solid var(--light-grey);
    padding-top: 5px;
    margin-top: 10px;
}

.card-block-brands-list-item {
	cursor: default;
	margin-top: 0.5rem;

	&:not(:last-child){
		margin-right: 0.5rem;
	}
}

.card-block-brands-list-item-inner{
	display: block;
	padding: 5px 10px;
	border-radius: var(--border-radius);
	background-color: var(--light-grey);
}

.card-block .form-block{
	padding: 0;
	border: 0;
	width: 100%;
	box-shadow: none;
}

.form-block{
	padding: 1.5rem;
	border-radius: var(--border-radius);
	display: inline-block;
	background-color: var(--white);
	box-shadow: rgba(201, 159, 111, 0.3) 0px 0px 9px -1px;

	&> h2{
		padding-bottom: 0.5rem;
    	border-bottom: 3px solid var(--additional);
		text-align: center;
	}
}

.form-input-block, .form-select-block {
    margin-top: 1rem;
    display: flex;
    align-items: center;
	justify-content: center;
}

input, select, textarea {
	padding: 5px 10px;
	border: 1px solid var(--grey);
	border-radius: var(--border-radius);
	display: block;
	min-width: 100px;
	outline: none;
}

textarea{
	width: 100%;

}

label{
	display: block;
	margin-right: 0.5rem;
}

.form-select-block-inner {
    display: flex;
    margin-bottom: 1rem;
	align-items: center;

	& img {
		height: 18px;
		width: 18px;
		cursor: pointer;
		opacity: 0.3;
		margin-left: 0.5rem;

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.main-block-form {
    display: flex;
    margin-bottom: 20px;
	padding-bottom: 20px;
	align-items: flex-start;

	& > div:not(:last-child){
		margin-right: 20px;
	}
}

.inner-card-block {
    border: 1px solid var(--grey);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	&:not(:last-child){
		margin-bottom: 0.5rem;
	}

	&:last-child{
		margin-bottom: 1rem;
	}
}

.inner-card-block-title{
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	flex-grow: 1;
}

.inner-card-block-name span{
	white-space: nowrap;
}

.inner-card-block-number {
    color: var(--dark-additional);
    font-size: clamp(16px, 2vw, 20px);
    width: 24px;
    height: 24px;
    border: 1px solid var(--additional);
    text-align: center;
    line-height: 24px;
    border-radius: var(--border-radius);
    margin-right: 0.5rem;
}

.inner-card-block-buttons{
	display: flex;
	flex-direction: row;

	& :not(:last-child){
		margin-right: 0.5rem;
	}

	& img {
		height: 18px;
		width: 18px;
		cursor: pointer;
		opacity: 0.6;

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.inner-card-block-description {
    padding: 10px;
    background: var(--light-grey);
    border-radius: var(--border-radius);
    margin-top: 0.5rem;
}



.card-block-tasks-title{
	border-top: 1px solid var(--light-grey);
    padding-top: 0.5rem;
    margin-top: 10px;
	margin-bottom: 0.5rem;
}

.card-block-subitems {
    text-align: center;
}

.card-block-subitems:last-child{
	flex-grow: 1;
	margin-left: 1rem;
}

.card-block-subitems-list-item {
    padding: 0.5rem;
    border: 1px solid var(--additional);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
}

.buttons-block {
    display: flex;
    justify-content: center;

	& button:not(:last-child){
		margin-right: 0.5rem;
	}
}

.form-block .buttons-block{
	margin-top: 1rem;
}